<form method="POST" action="/cadastro" class="create-class" id="create-class">
    <fieldset>
        <legend>Cadastro de usuário</legend>

        <div class="input-name">
            <label for="name">Digite seu nome</label>
            <input name="name"  id="name" type="text" required>
        </div>

        <div class="input-email">
            <label for="email">Digite seu e-mail</label>
            <input name="email"  id="email" type="email" required>
        </div>

        <div class="input-password">
            <label for="password">Digite sua senha</label>
            <input name="password"  id="password" type="password" required>
        </div>

        <div class="button">
            <button type="submit">Cadastrar</button>
        </div>
    </fieldset>
</form>
<a href= "/login">Voltar a tela de Login</a>
